@model SelectList
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mt-3">
    <form asp-action="SendMoney" method="post" class="w-75 mx-auto">
        <input type="hidden" name="SenderId" value="@ViewBag.SenderId" />
        <div class="mb-3">
            <label>Gondereceginiz Hesap Numarasi:</label>
            <select class="custom-select" asp-items="@Model" name="AccountId">
            </select>
        </div>
        <div class="mb-3">
            <label>Gondereceginiz Tutar: </label>
            <input type="number" name="Amount" class="form-control" />
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Para Gonder</button>
        </div>
    </form>

</div>
